@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var movie = (Movie) ViewData["Movie"];

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img src="@movie.Poster" alt="Movie Poster">
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">Plot</th>
                <th scope="col">Director</th>
                <th scope="col">Cast Members</th>
                <th scope="col">Writer</th>
                <th scope="col">Genre</th>
                <th scope="col">Runtime</th>
                <th scope="col">IMDB Rating</th>
                <th scope="col">Awards</th>
                <th scope="col">Box Office</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@movie.Plot</td>
                <td>@movie.Director</td>
                <td>@movie.Actors</td>
                <td>@movie.Writer</td>
                <td>@movie.Genre</td>
                <td>@movie.Runtime</td>
                <td>@movie.ImdbRating</td>
                <td>@movie.Awards</td>
                <td>@movie.BoxOffice</td>
            </tr>
        </tbody>

    </table>

</div>
