@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
    TrendingMovieModel trendingMovies = (TrendingMovieModel)ViewData["trendingMovies"];
    //var movie = (Movie) ViewData["Movie"];

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movie Site</title>
    </head>

    <body>

        <form name="search" method="get">
            <input type="hidden" name="handler" value="FormSubmit" />
            <label for="Movie_Title">Search Movie Title</label>
            <br/>
            <input type="text" name="Movie_Title"/>
            <br/>
            <input type="submit" value="Search"/>
        </form>

    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Trending Movies</h2>
            </div>
        </div>
       
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        @{
            foreach (MovieResult movie in trendingMovies.Results)
            {
                <div class="col">
                    <div class="card" style="height:650px;">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="Image of the movie"/>
                    <div class="card-body p-4">
                        <p class="text-primary card-text mb-0">Movie</p>
                        <h4 class="card-title"><a> @movie.Title</a></h4>
                        <p class="card-text">@movie.Overview</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="icons">
                                <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                    <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />
                                </svg>
                                <strong>@movie.VoteCount</strong>
                                </span>
                                <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                                <strong>@movie.VoteAverage</strong>
                                        </span>
                            </div>
                            <small class="text-muted">@movie.ReleaseDate.Date.ToShortDateString()</small>
                        </div>
                    </div>
                    </div>
                </div>
            }
        }
        </div>
    </div>

            @*<div id="movieSearchResults">
            <img src="@movie.Poster" alt="Movie Poster">
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Year</th>
                        <th scope="col">Plot</th>
                        <th scope="col">Director</th>
                        <th scope="col">Cast Members</th>
                        <th scope="col">Writer</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Runtime</th>
                        <th scope="col">IMDB Rating</th>
                        <th scope="col">Awards</th>
                        <th scope="col">Box Office</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>@movie.Title</td>
                        <td>@movie.Year</td>
                        <td>@movie.Plot</td>
                        <td>@movie.Director</td>
                        <td>@movie.Actors</td>
                        <td>@movie.Writer</td>
                        <td>@movie.Genre</td>
                        <td>@movie.Runtime</td>
                        <td>@movie.ImdbRating</td>
                        <td>@movie.Awards</td>
                        <td>@movie.BoxOffice</td>
                    </tr>
                </tbody>
            </table>
        </div>*@

        </body>
    </html>
