@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
    TrendingMovieModel trendingMovies = (TrendingMovieModel)ViewData["trendingMovies"];
    //var movie = (Movie) ViewData["Movie"];

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movie Site</title>
    </head>

    <body>

        <form name="search" method="get">
            <input type="hidden" name="handler" value="FormSubmit" />
            <label for="Movie_Title">Search Movie Title</label>
            <br/>
            <input type="text" name="Movie_Title"/>
            <br/>
            <input type="submit" value="Search"/>
        </form>

        <table class="table">
            <tr>
                <th>
                    adult
                </th>
                <th>
                    backdrop_path   
                </th>
                <th>
                    id
                </th>
                <th>
                    title
                </th>
                <th>
                    original_language
                </th>
                <th>
                    original_title
                </th>
                <th>
                    overview
                </th>
                <th>
                    poster_path
                </th>
                <th>
                    media_type
                </th>
                <th>
                    genre_ids
                </th>
                <th>
                    popularity
                </th>
                <th>
                    release_date
                </th>
                <th>
                    video
                </th>
                <th>
                    vote_average
                </th>
                <th>
                    vote_count
                </th>
            </tr>
        @{
            foreach(MovieResult movie in trendingMovies.Results){
                <tr>
                <td>
                @movie.Adult
                </td>
                <td>
                @movie.BackDropPath
                </td>
                <td>
                @movie.Id
                </td>
                <td>
                @movie.Title
                </td>
                <td>
                @movie.OriginalLanguage
                </td>
                <td>
                @movie.OriginalTitle
                </td>
                <td>
                @movie.Overview
                </td>
                <td>
                        <img src="https://image.tmdb.org/t/p/w500/@movie.PosterPath">
                </td>
                <td>
                @movie.MediaType
                </td>
                <td>
                @movie.GenreIds
                </td>
                <td>
                @movie.Popularity
                </td>
                <td>
                @movie.ReleaseDate
                </td>
                <td>
                @movie.Video
                </td>
                <td>
                @movie.VoteAverage
                </td>
                <td>
                @movie.VoteCount
                </td>
                </tr>
            }
        }
    </table>


        @*<div id="movieSearchResults">
            <img src="@movie.Poster" alt="Movie Poster">
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Year</th>
                        <th scope="col">Plot</th>
                        <th scope="col">Director</th>
                        <th scope="col">Cast Members</th>
                        <th scope="col">Writer</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Runtime</th>
                        <th scope="col">IMDB Rating</th>
                        <th scope="col">Awards</th>
                        <th scope="col">Box Office</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>@movie.Title</td>
                        <td>@movie.Year</td>
                        <td>@movie.Plot</td>
                        <td>@movie.Director</td>
                        <td>@movie.Actors</td>
                        <td>@movie.Writer</td>
                        <td>@movie.Genre</td>
                        <td>@movie.Runtime</td>
                        <td>@movie.ImdbRating</td>
                        <td>@movie.Awards</td>
                        <td>@movie.BoxOffice</td>
                    </tr>
                </tbody>
            </table>
        </div>*@

    </body>
</html>
