@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
    TrendingMovieModel trendingMovies = (TrendingMovieModel)ViewData["trendingMovies"];

}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movie Site</title>
    </head>

    <body>
    <div class="container py-xl-5">
        <form name="search" class="mx-auto" method="get">
            <input type="hidden" name="handler" value="FormSubmit" />
             <div class="input-group mx-auto w-75">
                 <input class="form-control border-0 small align-content-center" type="text" placeholder="Search by Movie Title" name="Movie_Title" autofocus>
                 <button class="btn btn-primary py-0" type="submit" value="Search/" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-search svg-icon" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg>
                 </button>
             </div>
        </form>
    </div>

    @if(trendingMovies != null){
    <div class="container trending-movies py-4 py-xl-5">
        <div class="row mb-5 border-bottom">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Trending Movies &#128200;</h2>
            </div>
        </div>
       
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        @{
            foreach (MovieResult movie in trendingMovies.Results)
            {

                <div class="card-group">
                    <div class="card rollUpCard">
                        <div class="poster">
                            <img src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="Movie Poster and info for @movie.Title">
                        </div>
                        <div class="details">
                            <div class="rating">
                                <span class="vote-rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-bar-chart-fill svg-icon" viewBox="0 0 16 16">
                                        <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />
                                    </svg>
                                    <strong>@movie.VoteCount Votes</strong>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-star-fill svg-icon" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg>
                                    @{
                                        decimal avgRating = decimal.Parse(movie.VoteAverage.ToString());
                                    }
                                    <strong>@Math.Round(avgRating, 1, MidpointRounding.AwayFromZero)/10</strong>
                                         
                                </span>
                            </div>
                            <br>
                            <h2>@movie.Title</h2>
                            <br>
                            <div class="info">
                                <h2>Plot</h2>
                                <p>@movie.Overview</p>
                                <span class="release-date">
                                    <p>Released on @movie.ReleaseDate.Date.ToShortDateString()</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        </div>
    </div>
    }

    </body>
</html>
