@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var movie = (Movie) ViewData["Movie"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>IMDB Rating</th>
            <th>Box Office</th>
        </tr>

                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>@movie.Director</td>
                    <td>@movie.ImdbRating</td>
                    <td>@movie.BoxOffice</td>
                </tr>

    </table>

</div>
