@page
@model IS7024WebApplication.Pages.SeeMovieDetailsModel
@{
    ViewData["Title"] = "Movie Details";
    var movie = TempData.Get<Movie>("Movie");
}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movie Details</title>
    </head>


    <body id="movieResultBody">

    @if (movie.Response != null)
    {
        <div class="container-fluid movieResult">
            <div class="row">
                    <div class="col-4">
                        <img class = "w-100 d-block" src="@movie.Poster" alt="Movie Poster">
                    </div>
                    <div class="col-8">
                        <h4>@movie.Title (@movie.Year)</h4>
                        <h6 style="background-color:lightblue" >IMDB Rating</h6>
                        <p>@movie.ImdbRating</p>
                        <h6 style="background-color:lightblue" >Plot</h6>
                        <p>@movie.Plot</p>
                        <h6 style="background-color:lightblue">Director</h6>
                        <p>@movie.Director</p>
                        <h6 style="background-color:lightblue">Cast Members</h6>
                        <p>@movie.Actors</p>
                        <h6 style="background-color:lightblue">Writer</h6>
                        <p>@movie.Writer</p>
                        <h6 style="background-color:lightblue">Genre</h6>
                        <p>@movie.Genre</p>
                        <h6 style="background-color:lightblue">Runtime</h6>
                        <p>@movie.Runtime</p>
                        <h6 style="background-color:lightblue">Awards</h6>
                        <p>@movie.Awards</p>
                        <h6 style="background-color:lightblue">Box Office</h6>
                        <p>@movie.BoxOffice</p>
                    </div>
            </div>
        </div>
    }
    else {
        <h3>Sorry! We could not find the movie you searched for.</h3>
    }

    </body>
</html>